.settings{
    background-color: #333333;
    opacity: .8;
    padding: 10px;
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center
}

.settings_item{
    opacity:1;
    color:white;
    cursor: pointer;
    margin-right:10px ;
}

.settings_item:hover{
    color: #886464;
}

