.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: black;
    height: 60px;
}

.icon {
    width: 25px;
}

.item {
    cursor: pointer;
}

.active{
    color: white;
}

.text {
    font-size: 11px;
    color: white;
    font-weight: 400;
}

.flex {
    display: flex;
    align-items: center;
}

.wrapper {
    line-height: 16px;
    display: flex;
    width: 100%;
    height: 90%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-around
}

.profile_settings_wrapper{
    display: flex;
    justify-content: space-around;
    position:absolute;
    bottom:72px;
    width: 100%;
}
.wallet_wrapper{
    display: flex;
}

.wallet_info{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}