.form_body{
    width: 305px;
}

.button{
    border-radius: 25px;
    font-size: 18px;
    line-height: 23px;
    font-weight: 500;
    border: 0;
    width: 100%;
    font-family: Geometria,sans-serif;
    padding: 0 12px;
    max-width: 305px;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 20px;
    color: #fff;
    cursor: pointer;
}

.blue_button{
    background: black;
}

.button_red {
    background: #dd4b39;
}

.disabled{
    background-color: #d6d6d6;
}

.save_change{
    background-color: green;
}

.button_wrapper{
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: center;
}

.birthday_wrapper{
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.birthday_wrapper input{
    width: 35px;
}

.birthday_wrapper div:last-child{
    width: 70px;
}
