.description {
    font-size: 12px;
    line-height: 25px;
    margin-top: 40px;
    margin-bottom: 5px;
    font-weight: 400;
    text-align: start;
}


.secRegister {
    width: 305px;
}

.form_body {
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: flex-start;

}

.form__item {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    width: 90%;
    font-weight: 400;
    align-items: center;
    justify-content: start;
}

input::-webkit-calendar-picker-indicator {
    opacity: 0;
}


.input_data {
    border: 1px solid rgba(0, 0, 0, .35);
    border-radius: 5px;
    font-size: 1.5rem;
    line-height: 20px;
    font-weight: 500;
    transition: .5s;
    max-width: 220px;
    padding: 2px 0;
    color: white;
    background-color: black;
    outline: none;
    margin-left: 10px;
}

.input_icons {
    position: absolute;
    width: 25px;
    right: 20px;
    top: 12px;
    pointer-events: none;
}

.submitButton {
    margin-top: 20px;
    max-width: 286px;
    height: 65px;
    border-radius: 30px;
    font-size: 22px;
    line-height: 27px;
    cursor: pointer;
    background: orange;
    color: #fff;
    border: 0;
    width: 100%;
    font-family: Geometria, sans-serif;
    padding: 0 12px;
}

.submitButtonError {
    background-color: cadetblue;
}

.submitButton:hover {
    opacity: .8;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    transition: .5s ease-out;
}

.data_picker {
    width: 285px;
}

.formik_errors {
    color: red;
    font-size: 15px;
}

.profile_header {
    display: flex;
    margin-bottom: 6vh;
    width: 100%;
}

.header_title {
    margin: 0 auto;
    font-weight: 400;
}

.title {
    width: fit-content;
    font-size: 13px;
}

.logout_btn {
    background-color: black;
    color: white;
    font-size: 20px;
    border: none;
}

.input_header {
    display: flex;
    justify-content: space-between
}

.country {
    background-color: black;
    color: white;
    border: none;
}

.country:focus-visible {
    outline: none;
}

.phone_prefix{
    font-size: 1.5rem;
}

.change_country{
    display: flex;
}