.settings{
    background-color: #333333;
    opacity: .8;
    border-radius: 5px;
    padding: 10px;
    width: fit-content;
    position: relative;
    display: flex;
}

.settings_item{
    opacity:1;
    color:white;
    cursor: pointer;
    margin-right:10px ;
}

.settings_item:hover{
    color: #886464;
}