
.wrapper {
    margin-top: 24px;
    font-size: 22px;
    line-height: 27px;
    width: 100%;
    max-height: 75vh;
}

.titleQr {
    margin: 10px 0 10px 0;
}

.descrBottom {
    font-size: 22px;
    line-height: 27px;
    max-width: 332px;
    margin: 9px auto 0;
}

.qrWrapper {
    width: 300px;
    height: 300px;
    display: contents;

}

.qr_content{
    background-color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.controls_dot {
    display: inline-block;
    font-size: 0;
    border-radius: 100%;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    border: 2px solid transparent;
    background-color: transparent;
    cursor: pointer;
    transition: all 250ms ease;
    position: relative;
}

.controls_dot:last-of-type {
    margin-right: 0
}

.controls_dot:after {
    content: "";
    position: absolute;
    width: 8px;
    border-radius: 8px;
    top: 2px;
    left: 2px;
    height: 8px;
    background-color: white;
}

.controls_dot_active {
    border: 2px solid white;
}

.controls_dot_active:after {
    background-color:white;
}

.controls_dot_active:last-child {
    margin-right: 0;
}

@media screen and (max-width: 300px) {
    .qrWrapper {
        width: 100%;
    }
}

@media screen and (max-height: 700px) {
    .descrBottom {
        font-size: 16px;
        line-height: 19px;
    }
}

.test {
    height: 340px;
}

.hidden {
    visibility: hidden;
}

.template_code{
    width:360px;
    margin:0 auto 50px;
    left:0;
    right:0;
    position: fixed;
}

.item_news{
    height: 300px;
    background-color: grey;
    border-radius: 10px;
    margin: 0 5px 15px ;
}

.list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}
.list_item{
    color: white;
}